* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 90vh;
  background-size: cover;
  color: #000000;
  transition: background-image 1.5s ease-in-out;
}
h1 {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
@media (min-width: 380px) {
  h1 {
    display: inherit;
    margin-bottom: 0.5rem;
  }
}
h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
.align_items_center {
  align-items: center;
}
.time {
  font-size: 4rem;
}
@media (max-width: 700px) {
  .time {
    font-size: 4rem;
  }
}
.btn {
  width: 40px;
  height: 40px;
  border: 0;
  background: url("assets/icons/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
}
.btn:hover {
  filter: grayscale(.8);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.02)
}
.cursor_help {
  cursor: help;
}
.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.justify_content_center {
  justify-content: center;
}
.quote {
  font: 1rem Georgia, serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 0.1em;
  background-color:#56526a;
}
@media (min-width: 1200px) {
  .quote {
    font: 1rem Georgia, serif;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 0.1em;
    background-color:#56526a;  }
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
.quote figcaption {
  text-align: right;
}
.city {
  font-size: 24px;
}
.overlay {
  position: absolute;
  background-color: rgba(59, 67, 76, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.temperature {
  font-size: 20px;
  margin-bottom: 20px;
}
.top_block {
  padding-left: 25px;
  padding-right: 25px;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-bottom: 50px;
}
.weather_background{
  padding-top: 10px;
  background-color: #56526a;
  border-radius: 5px;
  margin-top: 10px;
}
.weather-description {
  width: 130px;
  font-size: 12px;
  padding: 0 0 10px 0;
  color: #ffffff;
  border-radius: 5px;
}
.weather-icon {
  font-size: 40px;
  color: #ffffff;
}
.weather-icon:hover {
  animation: shake 1.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
}
.width_10 {
  width: 10px;
}
.min_width_25 {
  min-width: 25px;
}

#loader{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #56526a;
z-index: 30;}

#loader .svg_anm {
position: absolute;
left: 50%;
top: 50%;
width: 160px;
height: 160px;
background: url(assets/icons/tail-spin.svg) center center no-repeat;
background-size: 160px;
margin: -80px 0 0 -80px;}
