* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}
body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  transition: background-image 1.5s ease-in-out;
}
h1 {
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}
.time {
  font-size: 6rem;
}
@media (max-width: 700px) {
  .time {
    font-size: 4rem;
  }
}
.btn {
  width: 40px;
  height: 40px;
  border: 0;
  background: url("assets/icons/Update-Button-PNG-Image.png");
  background-size: contain;
  background-repeat: no-repeat;
  filter: grayscale(1);
  margin: 10px;
}
.btn:hover {
  filter: grayscale(.8);
}
.btn:active,
.btn:focus {
  outline: 0;
}
.btn:active{
  transform: scale(1.02)
}
.quote {
  font: 1rem Georgia, serif;
  color: black;
  margin: 0;
  background: #eee;
  padding: 0.1em;
  border-radius: 1em;
}
.quote figcaption,
.quote blockquote {
  margin: 1em;
}
.quote figcaption {
  text-align: right;
}
